{% extends "../layouts/main-layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/css/product.css">
{% endblock %}

{%block content%}
<main class="centered">
    <h1>{{product.title}}</h1>
    <hr>
    <div>
        <img src="{% if product.imageUrl == ''%}https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png {%else %} {{product.imageUrl}} {%endif%}" alt="{{product.title}}">
    </div>
    <h2>{{product.price}}$</h2>
    <p>{{product.description}}</p>
    {{"./includes/add-to-cart.njk" | render({product: product})}}
</main>
{%endblock %}